body {
  background-color: #faf9f9;
}

.description {
  color: #9e9fa9;
}

.navbarLink {
  color: white;
  text-decoration: none;
}

.disabledLink {
  color: #bebdbd;
  text-decoration: none;
  cursor: default;
}

.activeLink {
  color: teal;
  text-decoration: none;
}

.mediaContainer {
  position: relative;
  text-align: center;
  height: 200px;
  width: auto;
  overflow: hidden;
}
.mediaContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.mediaContainer img:hover {
  transform: scale(1.2);
}
.mediaContainer video {
  height: 100%;
  width: 100%;
}

.notFoundPageContainer {
  height: 400px;
}

.notFoundPageContent {
  margin-top: 100px;
  padding: 50px 5px;
  text-align: center;
  background: rgba(44, 43, 43, 0.45);
  color: rgba(255, 255, 255, 0.85);
}

.notFoundPageLink {
  color: rgb(114, 175, 175);
}
